@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap');

// COLORS
// #1C1018 dark
// #6D51C3 main
// #68B684 green
// #D72638 red

html {
    font-size: 20px;
    -webkit-print-color-adjust: exact;
}

* {
    font-family: 'Signika Negative';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    height: 75px;
    background: rgba(109, 81, 195, 1);
    color: white;
    padding-left: 2%;
    gap: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    position: relative;
    z-index: 4;

    .title {
        text-transform: uppercase;
        font-size: 2rem;

        a {
            color: white;
        }
    }

    #topic {
        height: 60%;
        padding: 10px 20px;
        border: 2px solid transparent;
        border-radius: 2px;
        background: rgba(0,0,0,0.4);
        color: white;
        transition: .3s;
        font-size: 1rem;

        option {
            background: rgb(109, 81, 195);
        }

        &:hover {
            background: rgba(0,0,0,0.2);
        }

        &:focus {
            outline: none;
            background: rgba(0,0,0,0.2);
            border: 2px solid rgba(255,255,255,0.4);
        }
    }
}

.button {
    all: unset;
    display: block;
    width: 200px;
    color: white;
    background: rgba(109, 81, 195, .8);
    border: none;
    cursor: pointer;
    padding: 15px 0;
    text-align: center;
    font-size: 1rem;
    border-radius: 2px;
    transition: .3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

    &:hover {
        background: rgba(109, 81, 195, 1);
    }

    &:focus {
        outline: none;
    }
}

#next, #check, #restart-no-answers, #restart-multiple-choice {
    width: 200px;
    color: white;
    background: rgba(109, 81, 195, .8);
    cursor: pointer;
    margin-top: 5%;
    padding: 25px 0;
    text-align: center;
    font-size: 1rem;
    border-radius: 2px;
    transition: .3s;
    border: 5px solid transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    position: relative;

    &:hover {
        background: rgba(109, 81, 195, 1);
    }

    &:focus {
        outline: none;
    }

    // &::before {
    //     content: 'Enter ⏎';
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    //     width: 65px;
    //     height: 25px;
    //     font-size: 0.8rem;
    //     background: white;
    //     color:rgb(109, 81, 195);
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
}

main {
    min-height: calc(100vh - 75px);
    display: flex;
    font-size: 1rem;

    aside {
        width: 15vw;
        // background: rgba(109, 81, 195, .1);
        min-height: calc(100vh - 75px);
        padding: 3% 1% 0 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .counter {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            padding: 15px 0;
            background:rgba(109, 81, 195, .1);
            border-radius: 2px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);

            .counter-number {
                color:rgb(109, 81, 195);
                font-size: 2.5rem;
            }
        }
    }

    .quiz {
        margin-top: 2%;
        padding: 0 5vw;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 3.5rem;
        }

        .choice-wrapper {
            display: flex;
            align-items: center;
            height: 15vh;
            background: rgba(109, 81, 195, .1);
            margin-top: 2%;
            padding-left: 2%;
            gap: 2vw;

            .button {
                height: 20%;
            }
        }

        #question {
            font-size: 3.5rem;
            text-align: center;
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #answers {
            width: 100%;
            height: 20vh;

            fieldset {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin: 5% 0;
                border: 0;
                background: rgba(109, 81, 195, .1);
                padding: 30px;

                .answer-wrapper {
                    border: 10px solid rgba(109, 81, 195, 1);
                    transition: .3s;
                    position: relative;
                    box-shadow: 0 0 15px rgb(109, 81, 195);
                    border-radius: 2px;

                    &::before {
                        content: '';
                        position: absolute;
                    }

                    &:hover {
                        transform: scale(1.05);
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;

                        &:checked ~ label {
                            background: rgba(109, 81, 195, .8);
                        }
                    }

                    label {
                        background:rgba(109, 81, 195, 1);
                        font-size: 1.5rem;
                        display: block;
                        width: 18vw;
                        color: white;
                        height: 10vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        cursor: pointer;
                        transition: .3s;
                        position: relative;
                    }
                    .answer-a {
                        &::before {
                            content: '1';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 25px;
                            height: 25px;
                            font-size: 0.8rem;
                            background: white;
                            color:rgb(109, 81, 195);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .answer-b {
                        &::before {
                            content: '2';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 25px;
                            height: 25px;
                            font-size: 0.8rem;
                            background: white;
                            color:rgb(109, 81, 195);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .answer-c {
                        &::before {
                            content: '3';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 25px;
                            height: 25px;
                            font-size: 0.8rem;
                            background: white;
                            color:rgb(109, 81, 195);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }

        #button-panel {
            display: none;
        }

        .button-panel {
            display: flex;
            justify-content: center;
            gap: 50px;
            margin-top: 5%;
        }

        .finished {
            display: none;
        }
    }

    #done {
        text-align:center;
        
        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;

            &:nth-of-type(2) {
                margin-bottom: 100px;
            }
        }

        a {
            margin-top: 50px;
            padding: 15px 30px;
            color: white;
            background:rgb(109, 81, 195);
            transition: .2s;

            &:hover {
                background:rgba(109, 81, 195, .8);
            }
        }
    }
}